
echo "*************************"
echo "**** Moving to Live *****"
echo "*************************"

cd {{{path}}} || exit

unset GIT_DIR

echo "*************************"
echo "**** Pulling to Live ****"
echo "*************************"

git pull origin {{{branch}}}

echo "**********************"
echo "*** NPM Installing ***"
echo "**********************"

npm install

echo "*************************"
echo "*** Restarting Server ***"
echo "*************************"

sudo service nginx restart

echo "*************************"
echo "********* Done **********"
echo "*************************"