server {
    listen 0.0.0.0:{{{server.port}}};
    server_name {{{server.name}}};
    root {{{server.root}}};

    access_log {{{logsFolder}}}/{{{server.name}}}/access.log;
    error_log {{{logsFolder}}}/{{{server.name}}}/error.log;

    
    passenger_enabled on;
    passenger_app_env {{{server.environment}}};
    passenger_friendly_error_pages {{{server.debug}}};
}